body {
	font-family: sans-serif;
	text-align: center;
}

@mixin no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.board {
	// display: flex;
	width: 40%;
	max-width: 550px;
	margin: auto;
}

$block: '.hex-grid';

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 0 through $amount - 1 {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

#{$block} {
  display: flex;
	justify-content: center;

  &__list {
    --amount: 11;
    --counter: 11;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
      grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    // grid-gap: .05rem 0.1rem;
  }

  &__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    // filter: drop-shadow(0 0 10px rgba(#444, .08));
    height: 0;
    padding-bottom: 90%;
    @include grid-item(11);

    &__hide {
      opacity: 0;
    }

    &__is_piece {
      cursor: pointer;
    }
  }

  &__content {
    @include no-select();

    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.125rem;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 2rem 25%;
    text-decoration: none;
    text-align: center;
    transition: transform .24s ease-out;

		&__black {
			background-color: var(--board-color-dark);
		}
		&__grey {
			background-color: var(--board-color-mid);
		}
		&__white {
			background-color: var(--board-color-light);
		}
		&__selected {
			background-color: #bbcb2b;
		}
		&__last_move {
			background-color: #fffd73;
		}
    &__is_dest {
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        width: 15%;
        height: 17%;
        background-color: #111111;
        opacity: 0.5;
        border-radius: 50%;
        display: inline-block;
      }
    }
		&__is_piece_and_dest::after {
			position: absolute;
			content: "";
			width: 55%;
			height: 63%;
			opacity: 0.5;
			border-radius: 50%;
			display: inline-block;
			border: 7px solid #111111;
		}
  }
}

.piece_image {
	height: auto;
	max-width: 70%;
}

.promote {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	height: 400%;
	width: 100%;
	font-size: 1.125rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #353e57;
	border: 1px gray solid;

	&__reversed {
		flex-direction: column-reverse;
		bottom: 0;
	}
}

main {
	margin-top: calc(var(--header-height) * 1.3);
  margin-bottom: calc(var(--footer-height) * 1.3 * 5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--header-height);
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}

.locales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.locale_icon {
  cursor: pointer;
  height: auto;
  width: 25px;
}

nav {
  display: flex;
	flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #ccd6f6;
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

:root {
  --max-width: 1100px;
  --border-radius: 4px;
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;

  --board-color-dark: #335a96;
  --board-color-light: #65729b;
  --board-color-mid: #608da5;


  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-transition: .5s ease-in-out;
  
  --header-height: 100px;
  --header-scrolling-height: 70px;

  --footer-height: 50px;


  /* media sizes */
  --small-device: 780px;
  --medium-device: 1080px;

  /*   dark/light theme     */
  --primary-color: #8892b0;
  --secondary-color: #a8b2d1;
  --third-color: #ccd6f6;
  --fourth-color: #64ffda;
  --background-color: #0a192f;
  --darker-background: rgba(10, 25, 47, 0.85);
  --header-box-shadow-color: rgba(2,12,27,0.7);

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #8892b0;
    --secondary-color: #a8b2d1;
    --third-color: #ccd6f6;
    --fourth-color: #64ffda;
    --background-color: #0a192f;
    --darker-background: rgba(10, 25, 47, 0.85);
    --header-box-shadow-color: rgba(2,12,27,0.7);
  }
}

* {
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--primary-color);
  background: var(--background-color);
  line-height: 1.3;
  min-height: 100vh;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ol, li {
  all: unset
}

// #mainDiv {
//   padding: 0 150px;
// }

// @media (max-width: 1080px) {
//   #mainDiv {
//     padding: 0 100px;
//   }
// }

// @media (max-width: 780px) {
//   #mainDiv {
//     padding: 0 50px;
//   }
// }

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar {
  width: 12px;
}

.blur > * {
  transition: var(--transition);
  filter: blur(5px) brightness(0.7);
  pointer-events: none;
  user-select: none;
}

/* Calibre */
@import url('https://fonts.cdnfonts.com/css/calibre');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

.topLinks {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.topLinks ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  margin: 0px 10px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.link:hover, .link.selectedLink {
  color: var(--fourth-color);
}

.link a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

// .link a::before {
//     content: "0" counter(item) ".";
//     margin-right: 5px;
//     color: var(--fourth-color);
//     font-size: var(--fz-xxs);
//     text-align: right;
// }

.big_button {
	color: var(--fourth-color);
	width: fit-content;
  background-color: transparent;
  border: 1px solid var(--fourth-color);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}

.big_button:hover {
  outline: none;
	cursor: pointer;
  box-shadow: 3px 3px 0 0 var(--fourth-color);
  transform: translate(-4px, -4px);
}

.headerScrollDown {
  height: var(--header-scrolling-height);
  transform: translateY(calc(var(--header-scrolling-height) * -1));
  background-color: var(--darker-background);
  box-shadow: 0 10px 30px -10px var(--header-box-shadow-color);
}

.headerScrollUp {
  height: var(--header-scrolling-height);
  transform: translateY(0px);
  background-color: var(--darker-background);
  box-shadow: 0 10px 30px -10px var(--header-box-shadow-color);
}

.under_board {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px;
	margin-top: -20px;
  transform: translateY(-30px);
}

.board_button {
	transition: var(--transition);
	width: 25px;
	cursor: pointer;
	filter: invert(65%) sepia(8%) saturate(1058%) hue-rotate(187deg) brightness(88%) contrast(87%);
}

.board_button:hover {
	filter: invert(80%) sepia(49%) saturate(436%) hue-rotate(104deg) brightness(101%) contrast(103%);
}

.history_movement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link_to_games {
	display: flex;
	flex-direction: row;  
	width: 40%;
	max-width: 500px;
	justify-content: space-between;
	align-items: center;
}

.custom_game_link {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}